#Excute it as a markdown cell
# H1: Data Science Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__
* Mention some of the data science languages, data science libraries, data science tools, 

* Demonstrate the use of features such as using h1 and h3 styles. 

* Demonstrate the use of functions such as creating tables.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
+ Pandas
+ NumPy
+ Matplotlib
+ Scikit-learn
+ TensorFlow

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|Apache Spark|
|Apache Hadoop|

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to then add integers
(5*10)+(30-13)*2

84

In [18]:
#This will turn 200 minutes into hours by diving by 60
(200/60)

3.3333333333333335

## Author: Rut Huaraz